<div class="container-fluid">
	<div id='rtn-loading-screen' ng-hide="$ctrl.loaded" ng-include="'layout/loading/loading.html'"></div>
	<div ng-if="$ctrl.loaded" ng-cloak>
		<div class="row">
			<h1 class="page-header">
				<span class="fa fa-list-alt"></span> My Favorites
				<button type="button" class="btn btn-sm btn-primary pull-right" ui-sref="app.favorite-details"><span class="fa fa-plus"></span> Add</button>
			</h1>
		</div>
		<div class="row">
			<ng-include class="col-md-3" ng-repeat="favorite in $ctrl.favorites" src="'pages/ssv/components/favorite/favorite-card-tmpl.html'"></ng-include>
		</div>
	</div>
</div>